<%- include('partials/header') %>
<a id="gohome" href="/"><h1 class="logo">Lecture <span class="blue"  style= "color:#007BFF">ROOM</span></h1></a>

<div class="jumbotron centered">
  <div class="container">
    <img src="https://static.wixstatic.com/media/205699_9fcc6636a27d45f49910473c9977cc7d~mv2.png/v1/fill/w_560,h_374,al_c,q_85,usm_0.66_1.00_0.01/vc1.webp">
    <h1 class="display-3">Lecture Room</h1>
    <p class="lead">A place where everyone is able to learn no matter where they are.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn button-width btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
